/* CSS declarations go here */
.login-display-name{color: white }
.login-button{background-color: white}
 #main {
    padding-top:20px;
}

div{
	text-align: center;
}

table{
	width: 100%;
}
#signed-in{
	/*display: none;*/
}
#not-signed-in{
	/*display: none;*/
}
.panel-body{
	/*background-color: white;*/
}
.new-team-choice{
	margin: 10px;
	padding: 5px;
}
.new-team-choice:hover{
	background-color: orange;
}
#new-team-details{
	/*display: none;*/

}

#start-statsheet-button{
	/*display: none;*/
}