/* CSS declarations go here */

/*@blue: #04529C;
@gold: #FFCC33;*/
.login-display-name{
	color: #FFCC33;
}
.navbar-default {
	background-color: #e74c3c;
	border-color: #04529C;
	color: #FFCC33;
}
.brand, .nav, .navbar-inverse{
	background-color: #04529C;
}
.login-button{background-color: white}
 #main {
    padding-top:20px;
}
.navbar-option{
	color: #FFCC33 !important;
}

#inner-navbar{
	background-image: none !important;
	background-color: #04529C !important;
	border-color: #04529C !important;
}

navbar-inverse .navbar-nav>.active>a{
	color: #04529C !important;
	background-color: #FFCC33 !important;
}

div{
	text-align: center;
}

table{
	width: 100%;
}
#signed-in{
	/*display: none;*/
}
#not-signed-in{
	/*display: none;*/
}
.panel-body{
	/*background-color: white;*/
}
.new-team-choice{
	margin: 10px;
	padding: 5px;
}
.new-team-choice:hover{
	color: #FFCC33;
	background-color: #04529C;
}
#new-team-details{
	/*display: none;*/

}

.main-menu-item:hover{
	color: #FFCC33;
	background-color: #04529C;
}

#start-statsheet-button{
	/*display: none;*/
}

.player-stat{
	margin: 5px;
}

.stat-title{
	font-size: 16px;
	color: #FFCC33;
	background-color: #04529C;
}

.player-stat div{
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.container .jumbotron{
	background-color: #04529C;
	color: #FFCC33;
}
body{
	background-color: #FFCC33 !important;
	color: #04529C ;
}

a{
	color: #FFCC33 !important;
}

.jumbotron input{
	height: 100%;
	width: 100%;
	text-align: center;
	color: #FFCC33;
	font-size: 20px;
}

#new-statsheet{
	display: none;
}

.navbar-option{
	font-size: 16px;
	margin: 3px;
}

.main-logo{
	height: 300px;
	width: auto;
}

.sidebar-logo{
	height: 40px;
	width: auto;
}

.tooltipStyle{
	background-color: #04529C;
	color: #FFCC33;
}

.overflow{
	overflow-y: scroll;
}

.team{
	color: #04529C;
}

.team:hover{
	color: #FFCC33;
	background-color: #04529C;
}

/*.table-hover tbody tr:hover, .table-hover tbody tr:hover {
  background-color: #0088CE;
}*/